<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="" th:href="@{/inspection/create}">Vytvořit kontrolu</a>
<table>
    <tr th:each="inspections : ${inspectionsList}">
        <td th:text="${inspections.id}">1</td>
        <td><a href="#" th:text="${inspections.name}">Title ...</a></td>
        <td th:text="${inspections.price}">Text ...</td>
        <td th:text="${inspections.period}">Text ...</td>
    </tr>
</table>
</body>
</html>